{% extends 'base/base_default.html' %}
{% load widget_tweaks %}

{% block body %}
    <div class="login-box w-50">
        <div class="card card-info w-100">
            {% if validlink %}
                <div class="card-header">
                    <h3 class="card-title">Ingresa la Nueva Contraseña</h3>
                </div>
                <form method="post" class="formhorizontal">
                    <p class="text-center">Ingresa tu Contraseña Nueva</p>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Siguiente</button>
                        <a href="{% url 'login' %}" type="submit" class="btn btn-default float-right">cancelar</a>
                    </div>
                    {% csrf_token %}
                </form>
            {% else %}
                <div class="card body">
                    <p>El link para recuperar la contraseña es invalido. Profavor Revisa tu correo</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}