{% extends 'base/base_default.html' %}

{% block body %}
    <div class="login-box w-50">
        <div class="card card-info w-100">
            <div class="card-header">
                <h3 class="card-title">Recuperacion de Contraseña Realizado sadisfactoriamente</h3>
            </div>
            <div class="card-body">
                <h2>Su contraseña ha sido restablesida correctamente</h2>
                <p>Puede volver a logearse inmediatmente <a href="{% url 'login' %}">Iniciar Session</a></p>
            </div>
        </div>
    </div>
{% endblock %}