{% extends 'base/base_default.html' %}

{% block body %}
    <div class="login-box w-50">
        <div class="card card-info w-100">
            <div class="card-header">
                <h3 class="card-title">Recuperar Contraseña</h3>
            </div>
            <div class="card-body">
                <h2>Revisa tu Correo Electronico</h2>
                <p>Se envio un correo con las instrucciones para recuperar tu contraseña <a href="{% url 'login' %}">Volver al Inicio</a></p>
            </div>
        </div>
    </div>
{% endblock %}