{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block menu %}
    {% include 'base/menuhorinzontal.html' %}
    {% include 'base/menuvertical.html' %}
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Cambiar Contraseña</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            <li class="breadcrumb-item active">Cambiar Contraseña</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content d-flex justify-content-center">
            <div class="login-box w-50">
                <div class="card card-info w-100">
                    <div class="card-header">
                        <h3 class="card-title">Cambiar Contraseña del Usuario</h3>
                    </div>
                    <form method="post" class="formhorizontal">
                        <div class="card-body">
                            {#                            {{ form.as_p }}#}
                            <div class="form-group">
                                {{ form.old_password|add_label_class:'form-label' }}
                                {% render_field form.old_password class='form-control' %}
                                <small>{{ form.old_password.errors }}</small>
                            </div>
                            <div class="form-group">
                                {{ form.new_password1|add_label_class:'form-label' }}
                                {% render_field form.new_password1 class='form-control' %}
                                <small>{{ form.new_password1.errors }}</small>
                            </div>
                            <div class="form-group">
                                {{ form.new_password2|add_label_class:'form-label' }}
                                {% render_field form.new_password2 class='form-control' %}
                                <small>{{ form.new_password2.errors }}</small>
                            </div>
                            <small>{{ form.errors }}</small>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Guardar Cambios</button>
                            <a href="{% url 'index' %}" type="submit" class="btn btn-default float-right">cancelar</a>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}