{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block menu %}
    {% include 'base/menuhorinzontal.html' %}
    {% include 'base/menuvertical.html' %}

{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Grupo de Contactos</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            <li class="breadcrumb-item active">Grupo de Contactos</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            {% include 'pages/messages.html' %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Lista de Mis Grupos de Contactos</h3>
                                <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                                        data-target="#modal-lg-groupcont">Agregar Nuevo Grupo de
                                    Contacto
                                </button>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="tablagruposcontactos" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre del Grupo</th>
                                        <th>Accion</th>
                                        <th>Ver Más</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in grupocontactos %}
                                        <tr>
{#                                        Tener encuenta el forloop #}
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ item.nombreGrupo }}</td>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <a href="{% url 'grupocontactoseditar' idgrupocontacto=item.id %}"
                                                       type="button" class="btn bg-gradient-success btn-flat">
                                                        Editar
                                                    </a>
                                                    <a href="{% url 'grupocontactoseliminar' idgrupocontacto=item.id %}"
                                                       onClick="return confirm('¿Seguro que quieres borrar al Grupo de Contactos {{ item.nombreGrupo }}?');"
                                                       type="button" class="btn bg-gradient-danger btn-flat">
                                                        Eliminar
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <button type="button" class="btn btn-primary bg-gradient-blue"><i
                                                            class="far fa-eye"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </table>
                            </div>
                            <!-- /.card-body -->

                            <!-- /.modal crear nuevo grupo contactos -->
                            <div class="modal fade" id="modal-lg-groupcont" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Crear Nuevo Grupo de Contactos</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <form method="post">
                                            <div class="modal-body">

                                                {% csrf_token %}
                                                <div class="form-group">
                                                    {{ form.nombreGrupo|add_label_class:'form-label' }}
                                                    {% render_field form.nombreGrupo class='form-control' %}
                                                    <small class="error">{{ form.nombreGrupo.errors }}</small>
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button type="submit" class="btn btn-primary">Guardar</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal crear nuevo grupo contactos -->

                        </div>
                        <!-- /.card -->

                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('#tablagruposcontactos').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "language": {
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente",
                    },
                    "info": "Grupos de Contactos de _START_ a _END_ de _TOTAL_ elementos totales ",
                    "search": "Buscar"
                },
            });
        });
    </script>
{% endblock %}