{% if messages %}
    <div class="card bg-gradient-success">
        <div class="card-header">
            <h3 class="card-title">Mensajes</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                        class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
            <div class="card-body">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}

            </div>
        </div>
    </div>
{% endif %}