.login-page {
    background-image: url(../img/bglogin.jpg) !important;
    background-size: cover;
}
.login-logo a{
    color: #fff !important;
}
.btn-primary, .btn-flat{
    color: #fff !important;
}
.ocultar{
    display: none !important;
}
.error{
    color: #ff2c2c !important;
}